:root {

    --bg: #030817;
    --black: #000000;
    --text: #FFFFFF;
    --muted: #9C9A9A;
    --accent: #BC4285;
    --accent2: #C80570;
    --cookie-color: #FB19C3;
    --bubble-color:#560E61;
    --grad: linear-gradient(90deg, #FB19C3 0.01%, #FF45F3 50.01%, #602BFF 100%);

    --radius: 25px;
    --radius2: 20px;


    --font-sans:  Helvetica, sans-serif;

    --grid3-1: repeat(3, 1fr);


    
    --font-h1: 2rem; 
    --font-h2: 1.75rem; 
    --font-h3: 1.5rem; 
    --font-main: 1rem; 
    --font-small: 0.75rem; 

    --font-weight-light: 300;
    --font-weight-bold: 600;
    --font-weight-ultrabold: 900;
}