/* === NEWS === */
.cw-news {
    padding: 56px 0 90px;
    position: relative
}

.cw-news__title {
    color: #fff;
    text-align: center;
    font-size: 28px;
    margin: 0 0 60px
}

.news-wrap {
    position: relative;
    margin: 0 auto;
    height: 420px;
    display: grid;
    grid-template-columns: 110px 1fr 110px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.news-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: none;
    border: 0;
    cursor: pointer;
}

.news-arrow--prev {
    left: 250px;
}

.news-arrow--next {
    right: 250px;
}

.news-arrow::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.news-arrow--prev::before {
    transform: rotate(225deg)
}

.news-side {
    width: 100%;
    height: 210px;
    border-radius: 12px;
    overflow: hidden;
    outline: 1px solid rgba(255, 255, 255, .18);
    opacity: .55;
}

.news-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
}

.news-side--left {
    justify-self: start;
    border-radius: 0px 12px 12px 0px;
}

.news-side--right {
    justify-self: end;
    border-radius: 12px 0px 0px 12px;
}

.news-main {
    grid-column: 2;
    display: grid;
    grid-template-columns: minmax(600px, 6vw) 400px;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.news-main__media {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .55);
}

.news-main__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.news-date {
    position: absolute;
    top: 34px;
    background: #0c0c0ff0;
    color: #fff;
    padding: 8px 12px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.news-main__aside {
    color: #fff
}

.news-title {
    margin: 0 0 8px;
    font-size: 34px;
    line-height: 1.05;
    font-weight: var(--font-weight-bold);
}

.news-desc {
    margin: 0 0 16px;
    opacity: .9;
    font-size: 14px;
    max-width: 34ch
}

.news-btn {
    margin-top: 50px;
}



/* Модалка новостей */
.news-modal[hidden] {
    display: none
}

.news-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    justify-content: end;
    align-items: center;
}

.news-modal__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px)
}

.news-modal__dialog {
    position: relative;
    margin: 24px auto;
    max-width: 520px;
    background: #fff;
    color: #111;
    border-radius: 8px;
    overflow: auto;
    max-height: calc(100dvh - 48px)
}

.news-modal__close {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 24px;
    line-height: 1;
    border: 0;
    background: transparent;
    cursor: pointer
}

.news-modal__title {
    font-size: var(--font-h1);
    text-transform: uppercase;
    margin: 0 32px 8px 0;
    padding: 48px 48px 20px;
}

.news-modal__date {
    display: inline-block;
    background: #111;
    color: #fff;
    font-size: var(--font-small);
    letter-spacing: .02em;
    padding: 8px 14px;
    margin: 0 0 16px;
    border-right: 6px solid #BC4285;
}



.news-modal__media {
    padding: 0px 48px;
}

.news-modal__media img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
    margin: 0 0 20px
}

.news-modal__body {
    font-size: var(--font-main);
    color: var(--black);
    padding: 0px 48px;
}

.news-modal__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 24px 48px 48px;
    padding: 15px 16px;
    border-radius: 10px;
    border: none;
    background: var(--accent2);
    color: #fff;
    font-size: var(--font-main);
    cursor: pointer;
    transition: .25s ease;
    user-select: none
}

