/* ===== Contacts ===== */
.cw-contacts {
    position: relative;
    isolation: isolate;
    padding: 96px 96px 256px;
    color: var(--text);
    background:
        radial-gradient(120% 80% at 50% 10%, rgba(255, 88, 220, .08), transparent 60%),
        #0a0711;
    background: linear-gradient(0deg, rgba(3, 8, 23, 0) 0%, rgba(3, 8, 23) 50%, rgba(3, 8, 23, 0) 100%); 
    overflow-x: clip;
}

.cw-contacts::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -60%) rotate(170deg);
    background: url("/static/images/contacts-waves.png") center / cover no-repeat;
    opacity: .8;
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: -1;
    -webkit-mask-image: radial-gradient(closest-side, #000 70%, transparent 100%);
    mask-image: radial-gradient(closest-side, #000 70%, transparent 100%);
    backface-visibility: hidden;
    will-change: transform;
}

.cw-contacts__wrap {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: clamp(70px, 20vw, 600px);
    align-items: start;
    max-width: 1400px;
    margin: 0 auto;
}

.ct-title {
    font-size: clamp(1.8rem, 1.2rem + 2vw, 3rem);
    margin: 10px 0 16px;
    border-bottom: 1px solid #C80570;
    width: max-content;
    font-weight: var(--font-weight-light);
}

.ct-sub {
    margin: 0 0 96px;
    opacity: .9;
}

.ct-grid-last {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    max-width: 840px;
}

.ct-field {
    display: grid;
    gap: 8px;
    grid-column: span 1;
}

.ct-area {
    display: grid;
    gap: 8px;
    grid-column: 1 / -1;
}

.ct-field span,
.ct-area span {
    font-size: .95rem;
    opacity: .9;
}

.ct-field input,
.ct-area textarea {
    font-family: Helvetica, sans-serif;
    width: 100%;
    border-radius: 7px;
    padding: 14px 16px;
    border: none;
    background: var(--bg);
    color: #fff;
    outline: none;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-sizing: border-box;
    resize: none;
}

.ct-field input::placeholder,
.ct-area textarea::placeholder {
    color: rgba(255, 255, 255, .6);
}

.ct-btn {
    grid-column: 1 / span 2;
    justify-self: start;
    margin-top: 6px;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    width: 173px !important;
    height: 41px !important;
}


.ct-info {
    display: grid;
    gap: 28px;
    height: 100%;
    align-content: center;
}

.ct-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 18px;
}

.ct-list li {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    gap: 20px;
    font-size: clamp(1rem, .9rem + .4vw, 1.25rem);
}

.ct-list a {
    color: #fff;
    text-decoration: none;
}

.ct-list a:hover {
    border-bottom-color: rgba(255, 255, 255, .6);
}

.ct-ico {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
}


.hours-container {
    font-family: Helvetica, sans-serif;
    padding-top: 16px;
    border-top: 1px solid rgba(255, 255, 255, .18);
}

.hours-container p {
    margin-left: 52px;
}

.ct-hours {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 20px;
    padding-top: 16px;
}

.ct-hours__ico {
    display: grid;
    place-items: center;
}


.ct-hours__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
}

.ct-hours__text .muted {
    opacity: .8;
}






/* adapt */
@media (max-width: 980px) {
    .cw-contacts__wrap {
        grid-template-columns: 1fr;
    }

    .ct-grid-last {
        grid-template-columns: 1fr;
    }

    .ct-btn {
        grid-column: 1 / -1;
        justify-self: stretch;
        text-align: center;
    }
}