.cw-trust {
    padding: 164px 0;
    text-align: center
}

.cw-trust__title {
    color: #fff;
    margin: 0 237px 40px;
    font-size: 40px;
    text-align: left;
    font-weight: var(--font-weight-light);
}

.trust-view {
    --max: 300px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-inline: var(--pad);
    padding-block: calc((var(--max) - var(--item)) / 2);
}


.trust-item img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    filter: brightness(0) invert(1);
    display: block
}

.trust-track {
    display: flex;
    gap: 0;
    will-change: transform;
    align-items: center;
    transform: translate3d(0, 0, 0);
    gap: 40px;

}

.trust-item {
    flex: 0 0 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.trust-item {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background: #000;
}

.trust-item::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    background:
        conic-gradient(from 75deg,
            transparent 0deg,
            rgba(255, 255, 255, 0.2) 20deg,
            rgba(255, 255, 255, 1) 62deg,
            rgba(255, 255, 255, 0.2) 105deg,
            transparent 125deg 360deg),
        conic-gradient(from 255deg,
            transparent 0deg,
            rgba(255, 255, 255, 0.2) 20deg,
            rgba(255, 255, 255, 1) 62deg,
            rgba(255, 255, 255, 0.2) 105deg,
            transparent 125deg 360deg);

    -webkit-mask: radial-gradient(farthest-side,
            transparent calc(100% - 3px), #000 100%);
    mask: radial-gradient(farthest-side,
            transparent calc(100% - 3px), #000 100%);

    filter: blur(4px);
    pointer-events: none;
}


.trust-item img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    filter: brightness(0) invert(1);
    display: block;
}