@import url(base/variables.css);
@import url(layout/header.css);
@import url(layout/footer.css);

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: url('Helvetica.woff') format('woff');
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    font-family: var(--font-sans);
    background-color: var(--bg);
}
