/* LIQUID GLASS STYLES */

.liquidGlass-wrapper {
    position: relative;
    display: flex;
    font-weight: 600;
    overflow: hidden;

    color: black;
    cursor: pointer;

    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

/* .liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(1px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
} */


.liquidGlass-effect {
    position: absolute;
    z-index: 0;
    inset: 0;

    backdrop-filter: url(#glass-distortion) blur(1px) saturate(1.1);
    -webkit-backdrop-filter: url(#glass-distortion) blur(1px) saturate(1.1);
    filter: none;

    background: rgba(255, 255, 255, 0.0001);
    border-radius: inherit;

    overflow: hidden;
    isolation: isolate;
}

.liquidGlass-tint {
    z-index: 1;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.01);
}

.liquidGlass-shine {
    position: absolute;
    inset: 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: inset 2px 2px 5px 1px rgba(255, 255, 255, 0.3),
        inset -1px -1px 5px 0px rgba(255, 255, 255, 0.4);
}

.liquidGlass-text {
    z-index: 3;
}

/* OTHER STYLES */




.cw-portfolio__grid a {
    padding: 8px;
    border-radius: var(--radius);
}

.cw-portfolio__grid a,
.cw-portfolio__grid a>div {
    border-radius: var(--radius);
}

.cw-portfolio__grid a:hover {
    padding: 8px;
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}

.cw-portfolio__grid a:hover>div {
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
}

.cw-portfolio__grid a figure {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

.cw-portfolio__grid a:hover figure {
    transform: scale(0.95);
}