.ls-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: var(--font-small);
    padding: 153px 96px 66px 96px;
    overflow: hidden;
}

.ls-footer a {
    color: var(--text);
    text-decoration: none;
}


.by {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

span {
    display: grid;
    place-items: center;
}





@media (max-width: 767px) {
    .ls-footer {
        flex-direction: column-reverse;
        padding: 264px 60px 43px;
    }

    .footer-comp-name {
        margin-bottom: 24px;
    }

    .by {
        position: absolute;
        bottom: 43px;
        right: 40px;
    }
}

