{% extends '_base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/pages/about.css' %}" />
{% endblock %}

{% block content %}



<section class="about-hero">
    <div class="about-hero-text">
        <h1>О нас</h1>
        <p class="about-meta">Санкт-Петербург • {{ today|date:"j E Y" }}</p>
        <h2 class="about-title">Компания «LS Illumination» с 2009 года специализируется на дизайне городской среды.</h2>
        <p class="about-sub">От праздничного оформления и декоративного освещения до комплексного благоустройства
            городов.</p>
    </div>
    <img src="{% static 'images/portfolio.jpg' %}" alt="">
</section>




<section class="about-block">
    <p>Наша работа — это результат взаимодействия специалистов в области городского дизайна, архитектуры, инженерии и
        урбанистики. Именно такой синтез позволяет моделировать новую городскую среду, по-особенному красивую и
        самобытную.За 12 лет работы мы получили колоссальный опыт и стали профессионалами в сфере новогоднего и
        декоративного оформления. <br><br>
        Наша работа – это сочетание европейского качества и демократичных цен. Мы используем современные технологии в
        сфере декоративного, новогоднего, а также контурного светового оформления, которые позволят воплотить в жизнь
        самые неожиданные и уникальные идеи: выделят Вас на фоне других, повысят узнаваемость и Ваш статус.</p>
</section>

<section class="about-block-image">
    <div class="about-img">
        <img src="{% static 'images/portfolio.jpg' %}" alt="Проекты LS Illumination">
    </div>
</section>

<section class="about-block">
    <p>
        Ваша положительная оценка нашей работы – основная миссия нашей компании. <br><br>
        Нам важно, чтоб каждый этап работы был выполнен качественно и точно в срок, поэтому мы ответственно подходим к
        выбору поставщиков оборудования. Сотрудничаем только с лидерами рынка, за профессионализм которых мы можем
        поручиться.А значит мы гарантируем, что результат не оставит Вас равнодушными!<br><br>
        Наша неоспоримое преимущество заключается в том, что мы обладаем всем набором ресурсов и навыков, которые
        позволят реализовать самые сложные и на первый взгляд невыполнимые идеи. Мы готовы предложить уникальные решения
        под Ваши потребности.
    </p>
</section>

<section class="about-block-image">
    <div class="about-img">
        <img src="{% static 'images/portfolio.jpg' %}" alt="Проекты LS Illumination">
    </div>
</section>

<section class="about-block">
    <p>
        Наша компетенция – это все вопросы, связанные с иллюминацией и праздничным оформлением фасадов зданий.<br><br>

        Нам важно, что обращаясь в нашу компанию, Вы сможете получить индивидуальное и в тоже время комплексное решение
        Ваших задач. Таким образом берем на себя все сложные организационные вопросы, а Вам остается определиться с
        идеей.<br><br>
        «LS illumination» - это штат опытных и профессиональных сотрудников, которые не только трепетно относятся к
        Вашим решениям, но и мастерски подходят к выполнению поставленных задач.
    </p>
</section>

<section class="about-block-image">
    <div class="about-img">
        <img src="{% static 'images/portfolio.jpg' %}" alt="Проекты LS Illumination">
    </div>
</section>

<section class="about-block">
    <h1>Наши услуги:</h1>

    <ol>
        <li>
            Партнера, специализирующегося на световом оформлении, неизменно успешно воплощающего самые смелые и сложные
            решения в сфере новогоднего оформления и иллюминации с 2009 года по всей территории России.
        </li>
        <li>
            Сотрудничество с подрядчиком, имеющим постоянный штат квалифицированных сотрудников, регулярно повышающих
            квалификацию и работающих по строгим европейским стандартам качества.
        </li>
        <li>
            Декорации и сопутствующие материалы только от международных компаний - лидеров в отрасли новогоднего,
            праздничного и художественного светового оформления.
        </li>
        <li>
            Оформление объектов в соответствии с самыми современными тенденциями, использование
            в работе исключительно передовых коллекций ведущих мировых производителей.
        </li>
        <li>
            Комплексное воплощение оформления объекта, проведение всех этапов - от разработки проекта
            и визуализаций до монтажа.
        </li>
        <li>
            Оперативность и легкость выполнения работ по новогоднему оформлению, декоративной и контурной подсветке,
            оформлению интерьера Вашего здания.
        </li>
        <li>
            Индивидуальный подход и современные технологии в сфере декоративного, новогоднего, а такжеконтурного
            светового
            оформления, которые обеспечат Вам имидж, позволяющий быть в центре внимания, яркий и нестандартный
            результат.
        </li>

    </ol>
    <p>
    </p>
</section>

<section class="about-block-image">
    <div class="about-img">
        <img src="{% static 'images/portfolio.jpg' %}" alt="Проекты LS Illumination">
    </div>
</section>

<section class="about-block">
    <h1>Наши услуги:</h1>
    <p>
        ★ Разработка индивидуальных концептуальных дизайн-проектов новогоднего оформления<br><br>
        ★ Разработка индивидуальных концептуальных дизайн-проектов декоративной подсветки<br><br>
        ★ Разработка индивидуальных концептуальных дизайн-проектов контурной подсветки<br><br>
        ★ Новогоднее оформление фасадов зданий, торговых и бизнес центров, гостиничных комплексов, магазинов и
        ресторанов, частный сектор.<br><br>
        ★ Новогоднее оформление интерьера: торговых и бизнес центров, гостиничных комплексов, магазинов и ресторанов
        световыми готовыми декорациями или изготавливаемыми на заказ.<br><br>
        ★ Оформление прилегающих территорий: деревьев, улиц, площадей.<br><br>
        ★ Оформление искусственных новогодних елок.<br><br>
        ★ Дефектация и ремонт светотехнического оборудования.<br><br>
        ★ Декоративная и архитектурная подсветка фасадов и территорий.<br><br>
        ★ Контурная подсветка зданий.<br><br>
        ★ Светодиодное освещение.<br><br>
        ★ Монтаж светотехнического оборудования и систем освещения.<br><br>
        ★ Поставка оборудования светотехники.<br><br>
        ★ Установка статодинамических конструкций.<br><br>
    </p>
</section>


{% endblock %}